.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.q9 {
    background: red;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation-name: circulo;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes circulo {
    from{transform: scale(1,1);}
    to{transform: scale(0.5,0.5);}     
}



