.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;    
}

.q14 {
    background: rgb(237, 64, 64);
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: relative;
}
.q14:hover {
    height: 100px;
    width: 200px;
    border-radius: 0px;
}






