.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.q2 {
    background: red;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.q2:hover {
    background: blue;
}

